//Font Variables
$font: "Roboto", sans-serif;
$font-secondary: "Asul", sans-serif;

//Color Variables
$white: #ffffff;
$black: #000000;
$grey: #707070;
$grey-dark: #000000cc;
$blue: #1e9d9d;

//Display port varibles
$phone: 376px;
$tablet: 1367px;
